<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!-- <meta http-equiv="Cache-Control" content="max-age=2592000"> -->
  <meta name="description" content="" />
  <meta name="keywords" content="" />


  <title>title</title>`

  <!-- <link rel="shortcut icon" type="image/ico" href="https://sj-public.b0.upaiyun.com/image/sjico/favicon.ico"> -->

</head>

<body>
  <!--[if lt IE 9]>
    <div style="padding:16px 5px;">您正在使用 <strong>过时的</strong> 浏览器. 是时候 <a href="http://browsehappy.com/">更换一个更好的浏览器</a> 来提升用户体验.</div>
  <![endif]-->
  <div id="app"></div>
 
</body>

</html>